<div class="row">
<div class="col-md-4">
</div>
<div class="col-lg-4 alert alert-info" style="padding:2%">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_change_password'), 'attr': {'class': 'fos_user_change_password'}}) }}
	<table>
		<tr>
			<td>{{ form_label(form.current_password, 'Mot de passe actuel')}}</td>
		    <td>{{ form_widget(form.current_password, {'attr':{'class':'form-control'}}) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.new,'Nouveau mot de passe')}}</td>
		    <td>{{ form_widget(form.new.first,{'attr':{'class':'form-control'}}) }}</td>
		</tr>
		<tr>
		    <td>{{ form_label(form.new,'confirmer mot de passe')}}</td>
		     <td>{{ form_widget(form.new.second,{'attr':{'class':'form-control'}}) }}</td>
	    </tr>
	    <tr>
	        <td colspan=2><input type="submit" class="btn btn-success" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
	        </td>
	    </tr>
	</table>
{{ form_end(form) }}
</div>
<div class="col-md-4"></div>
</div>